.card:hover{
background-color: rgb(241, 236, 236);
}

 .is-featured{
    background-color: rgb(227, 27, 27);
}
.plan-price:hover{
background-color:rgb(227, 27, 27); 
}

.menu a{
    color:white;
    font-weight: lighter;

}

.menu li a{
    color:white;

    
}

.dropdown li a:hover{
    color:rgb(248, 12, 12);
   
}

.dropdown li a{
    color:black;

}

.instant-logo{
    background-color: rgb(231, 81, 81); 
    text-transform: uppercase;
    text-decoration: solid 3px underline;
}

/*google fonts*/
body{
    /*N/A */
    
}

.darkMode{
    border-radius: 50%;
}